# About this notebook
<p style="text-align: justify"> Here, you will learn the basic statements of python and function. Some codes will be given for demonstration. Some other codes, you will do as excercise.</p>

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, download the notebook (.pynb file) and submit the notebook  to MS Teams inbox in the class period</p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>
<p> 2. Modify the file name writing your ID at the beigining of the file name.</p><p> <b>Example: 20-45961-3 Lab 02.ipynb</b></p>
<p> 3. Other file format (except .pynb) or link will not be accepted.</p>

# User Input

In [1]:
# Basic User Input
name = input("Enter your last name ")
print("Welcome to AI course " + name + "!")

Enter your last name Tanjim
Welcome to AI course Tanjim!

In [2]:
# Taking Integer Input
age = int(input("Enter your age: "))
print("You will be", age + 2, "years old afte 2 years.")

Enter your age: 25
You will be 27 years old afte 2 years.

In [3]:
#Taking Multiple Inputs (Space-Separated)
a, b, c, d = map(int, input("Enter four numbers separated by space: ").split())
print("Sum:", a + b + c + d)

Enter four numbers separated by space: 2 3 5 8
Sum: 18

In [4]:
# List Input from User
numbers = list(map(int, input("Enter numbers separated by space: ").split()))
print("You entered:", numbers)

Enter numbers separated by space: 3 6 8 2
You entered: [3, 6, 8, 2]

In [5]:
# Handling Invalid Input (Using Try-Except)
try:
    num = int(input("Enter a number: "))
    print("Cube of the number:", num ** 3)
except ValueError:
    print("Please enter a valid number.")

Enter a number: 10
Cube of the number: 1000

# if statement
There can be zero or more elif parts, and the else part is optional. The keyword ‘elif’ is short for ‘else if’

In [9]:
# Basic if Statement
age = int(input("Enter your age: "))

if age >= 18:
    print("Congratulations You are eligible to vote.")
else:
    print(" sorry you are not eligible")

Enter your age: 17
 sorry you are not eligible

In [10]:
#if-else Statement
num = int(input("Enter a number: "))

if num % 2 == 0:
  print("The number is even.")
else:
  print("The number is odd.")

Enter a number: 5
The number is odd.

In [11]:
# if-elif-else Statement
marks = int(input("Enter your marks: "))

if marks >= 92:
    print("Grade: A")
elif marks >= 82:
    print("Grade: B")
elif marks >= 72:
    print("Grade: C")
elif marks >= 62:
    print("Grade: D")
else:
    print("Grade: F")

Enter your marks: 42
Grade: F

In [12]:
# Checking Multiple Conditions (and, or)
temperature = float(input("Enter the temperature: "))

if temperature > 30 and temperature < 40:
    print("It's a sunny day.")
elif temperature >= 40:
    print("It's extremely hot! Please take caution.")
else:
    print("The weather is normal.Enjoy the day !")

Enter the temperature: 20
The weather is normal.Enjoy the day !

In [13]:
# Nested if Statement
num = int(input("Enter a number: "))

if num > 0:
    print("Thats a positive number.")
    if num % 2 == 0:
        print("Thats even")
    else:
        print("Thats odd")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 20
Thats a positive number.
Thats even

# for statement
<p style="text-align: justify">The for statement in Python differs a bit from what you may be used to in C or C++. Rather than always giving the user the ability to define both the iteration step and halting condition, Python’s for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.</p>

In [14]:
#Basic for Loop
for i in range(10):
    print("Iteration:", i)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4
Iteration: 5
Iteration: 6
Iteration: 7
Iteration: 8
Iteration: 9

In [16]:
# for Loop Over a List
fruits = ["cherry", "papaya", "Guava"]

for fruit in fruits:
    print(fruit)

cherry
papaya
Guava

In [17]:
# Looping Through a String
word = "Halleluah"

for char in word:
    print(char)

H
a
l
l
e
l
u
a
h

In [18]:
# Looping with range(start, stop, step)
for i in range(1, 120, 25):
    print(i)

1
26
51
76
101

In [20]:
# Looping Over a Dictionary
student = {"name": "Tansnim", "age": 22, "grade": "A+"}

for key, value in student.items():
    print(key, ">", value)

name > Tansnim
age > 22
grade > A+

In [21]:
# Using for Loop with enumerate()
colors = ["Red", "Green", "Yellow"]

for index, color in enumerate(colors):
    print(index, ">", color)

0 > Red
1 > Green
2 > Yellow

In [25]:
# Nested for Loop
for a in range(1, 3):
    for b in range(1, 3):
        print(f"a={a}, b={b}")

a=1, b=1
a=1, b=2
a=2, b=1
a=2, b=2

In [26]:
# for Loop with break and continue
for num in range(1, 6):
    if num == 2:
        continue  # Skips 2
    if num == 5:
        break  # Stops loop at 5
    print(num)

1
3
4

# Functions
<p style="text-align: justify">The keyword def introduces a function definition. It must be followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented.</p>

In [27]:
# Basic Function (No Parameters, No Return)
def greet():
    print("Welcome to AI course")

greet()  # Calling the function

Welcome to AI course

In [30]:
# Function with Parameters
def add_numbers(a, b, c):
    print("Sum:", a + b + c)

add_numbers(5, 3, 5)  # Output: Sum: 13

Sum: 13

In [31]:
# Function with Return Value
def multiply(a, b):
    return a * b

result = multiply(2, 7)
print("Multiplication:", result)  # Output: 14

Multiplication: 14

In [32]:
# Function with Default Parameter
def greet(name="Guest user"):
    print("Meow,", name)

greet()          # Output: Hello, Guest
greet("Tasnim")   # Output: Hello, Alice

Meow, Guest user
Meow, Tasnim

In [33]:
# Function with Multiple Return Values
def get_square_and_cube(n):
    return n**2, n**3

square, cube = get_square_and_cube(3)
print("Square:", square, "Cube:", cube)  # Output: Square: 9, Cube: 27

Square: 9 Cube: 27

In [35]:
# Function Using *args (Multiple Arguments)
def add_all(*numbers):
    return sum(numbers)

print(add_all(1, 2, 3, 5, 7, 9, 15))  # Output: 42

42

<b>Exercise 1:</b> Write a Python program to find the sum of the first N natural numbers using a for loop.<br>
Example:<br>
Input: N = 5  
Output: 15

In [36]:
#CODE
n = int(input("Enter a number: "))
sum = 0

for i in range(1, n + 1):
    sum += i

print("Sum:", sum)

Enter a number: 5
Sum: 15

<b>Exercise 2:</b> Write a Python program that reverses a string using a for loop.<br>
Example: <br>
Input: "Python"  
Output: "nohtyP"

In [37]:
#CODE
s = input("Enter a string: ")
reversed_s = ""

for char in s:
    reversed_s = char + reversed_s

print("Reversed:", reversed_s)

Enter a string: Python
Reversed: nohtyP

<b>Exercise 3:</b> Define a <b>method/function</b> which will take two lists of numbers and returns a list (sum of two lists)
<p>Example:<br>
    Input: [3,4,5,1] and [6,7,2,8]<br>
    output: [9,11,7,9]</p>

In [38]:
# code
def sum_lists(list1, list2):
    return [list1[i] + list2[i] for i in range(len(list1))]

# Example usage
list1 = [3, 4, 5, 1]
list2 = [6, 7, 2, 8]

result = sum_lists(list1, list2)
print("Sum of the two lists:", result)

Sum of the two lists: [9, 11, 7, 9]

<b> Exercise 4:</b> Write a <b>method</b> which will take the <b>full name</b> as input and return both the first name and last name.
<p>Example:<br>
    Input: Arafat Rahman Sunny<br>
    Output: First name: Arafat, Last name: Sunny</p>

In [39]:
# code
def split_name(full_name):
    name_parts = full_name.split()
    first_name = name_parts[0]
    last_name = name_parts[-1]
    return first_name, last_name

# Example usage
full_name = input("Enter full name: ")
first_name, last_name = split_name(full_name)

print(f"First name: {first_name}, Last name: {last_name}")

Enter full name: Tanjim Israk Dihan
First name: Tanjim, Last name: Dihan

**Do More Exercises**