# About this notebook
<p style="text-align: justify"> Here, you will learn the basic coding and data structures including numbers, strings, list, dictionaries and more. Some codes already done for demonstration. Some other codes, you will do as excercises.</p>

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, download the notebook (.pynb file) and submit the notebook  to MS Teams inbox in the class period</p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>
<p> 2. Modify the file name writing ID at the beigining of the file name. </p><p><b>Example: 20-45961-3 Lab 01.ipynb</b></p>
<p> 3. Other file format (except .pynb) or link will not be accepted.</p>

# Number

**Basic Arithmetic Operations**

In [1]:
# Addition, Subtraction, Multiplication, Division
a = 15
b = 7

sum_result = a + b
difference_result = a - b
product_result = a * b
division_result = a / b

print(f"Sum: {sum_result}, Difference: {difference_result}, Product: {product_result}, Division: {division_result}")

Sum: 22, Difference: 8, Product: 105, Division: 2.142857142857143

**Exponentiation and Modulus**

In [4]:
# Exponentiation (Power) and Modulus (Remainder)
base = 4
exponent = 3

power_result = base ** exponent
modulus_result = a % b

print(f"Power: {power_result}, Modulus: {modulus_result}")

Power: 64, Modulus: 1

**Floor Division**

In [5]:
# Floor Division
floor_result = a // b   # floored division result

print(f"Floor Division: {floor_result}")

Floor Division: 2

**Absolute Value and Rounding**

In [6]:
# Absolute Value and Rounding
negative_number = -9.5

absolute_value = abs(negative_number)
rounded_value = round(negative_number)

print(f"Absolute Value: {absolute_value}, Rounded Value: {rounded_value}")

Absolute Value: 9.5, Rounded Value: -10

**Using the math module for advanced number operations**

In [ ]:
import math

# Square root, Factorial, and Trigonometric functions
square_root = math.sqrt(16)
factorial_result = math.factorial(5)
sin_value = math.sin(math.radians(30))

print(f"Square Root: {square_root}, Factorial: {factorial_result}, sin(30 degrees): {sin_value}")

Square Root: 4.0, Factorial: 120, sin(30 degrees): 0.49999999999999994

**Random Number Generation**

In [13]:
import random

# Generate a random number between 1 and 100
random_number = random.randint(30, 300)
print(f"Random Number: {random_number}")

# Generate a random float between 0 and 1
random_float = random.random()
print(f"Random Float: {random_float}")

Random Number: 124
Random Float: 0.9586368309500921

<b>Note:</b> A cell in Python will only display the value of the last expression. If you want to output other values, you should use the *print()* function.

# Object types
The basic object types are Numbers, Strings, Lists, Dictionaries, Tuples, Files and Other types (Sets, types, None, Booleans etc.)

**Integer and Float**

In [15]:
a=10
b=3.3

In [16]:
# Checking the type of an object
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

**String**

In [17]:
# Concatenation
greeting = "Good Morning, "
name = "Tasnim"
message = greeting + name  # Combine strings
print(message)

Hello, Tasnim

In [18]:
# Repetition
repeat_string = "Meow :3 " * 3
print(repeat_string)

Meow :3 Meow :3 Meow :3

In [24]:
# Slicing
text = "Hello, World!"
substring = text[5:12]  # Extract substring
print(substring)

, World

In [25]:
# Changing case
text = "case sensitive"
upper_case = text.upper()  # Convert to uppercase
lower_case = text.lower()  # Convert to lowercase
print(upper_case)
print(lower_case)

CASE SENSITIVE
case sensitive

In [26]:
# Stripping whitespace
text = "   extra blank spaces are trimmed   "
stripped_text = text.strip()  # Removes spaces from both ends
print(stripped_text)

extra blank spaces are trimmed

In [28]:
# Finding substring
text = "this detects the substring starting point"
index = text.find("substring")  # Returns the index where "substring" starts
print(index)

17

In [29]:
# Replacing substring
text = " Hello Tanjim"
new_text = text.replace("World" , "Tasnim")
print(new_text)

 Hello Tanjim

In [32]:
# Checking substring existence
text = "Checking existence"
contains_Checking = "Checking" in text
contains_python = "Python" in text
print(contains_Checking)
print(contains_python)

True
False

In [33]:
# String length
text = "Checking length"
length = len(text)
print(length)

15

In [35]:
# Splitting string
text = "guava,cherry,papaya"
fruits = text.split(",")  # Split by comma
print(fruits)

['guava', 'cherry', 'papaya']

In [36]:
# Joining strings
fruits = ['guava', 'cherry', 'papaya']
joined_fruits = ", ".join(fruits)
print(joined_fruits)

guava, cherry, papaya

In [37]:
# String formatting
name = "Dimitrescu"
age = 31
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)

My name is Dimitrescu and I am 31 years old.

In [39]:
# Checking start or end
text = "Leap of Faith"
starts_with_Faith = text.startswith("Faith")
ends_with_Faith = text.endswith("Faith")
print(starts_with_Faith)
print(ends_with_Faith)

False
True

In [41]:
# Counting occurrences
text = "Cassandra"
count_s = text.count("s")
print(count_s)

2

In [44]:
# Checking if alphabetic
text = "Hello1121"
is_alpha = text.isalpha()
print(is_alpha)

text = "Hello"
is_alpha = text.isalpha()
print(is_alpha)

False
True

In [48]:
# Negative index example
text = "last letter/digit is O"
last_char = text[-1]  # Last character
print(last_char)

O

In [49]:
# Negative index slicing
substring = text[-6:-1]
print(substring)

t is

In [50]:
# Reversing string
reversed_text = text[::-1]  # Reverse the entire string
print(reversed_text)

O si tigid/rettel tsal

In [51]:
# Slicing with negative step
reversed_substring = text[-7:-1:2]  # Start from index -7, stop at index -1, step by 2
print(reversed_substring)

i s

**List**

In [53]:
# Creating a list
fruits = ["guava", "lichi", "watermelon"]
print(fruits)

['guava', 'lichi', 'watermelon']

In [54]:
# Accessing list elements
first_fruit = fruits[0]
print(first_fruit)

last_fruit = fruits[-1]  # Last element
print(last_fruit)

guava
watermelon

Like strings (and all other built-in sequence types), lists can be indexed and sliced:

In [55]:
# Slicing a list
sublist = fruits[1:3]  # Elements from index 1 to 2
print(sublist)

['lichi', 'watermelon']

In [57]:
# Appending an element
fruits.append("papaya")
print(fruits)

['guava', 'lichi', 'watermelon', 'orange', 'papaya']

In [58]:
# Inserting an element
fruits.insert(1, "red beans")  # Insert "grape" at index 1
print(fruits)

['guava', 'red beans', 'lichi', 'watermelon', 'orange', 'papaya']

In [59]:
# Removing by value
fruits.remove("guava")
print(fruits)

# Removing by index
removed_fruit = fruits.pop(2)  # Removes element at index 2
print(removed_fruit)
print(fruits)

['red beans', 'lichi', 'watermelon', 'orange', 'papaya']
watermelon
['red beans', 'lichi', 'orange', 'papaya']

In [60]:
# Finding the index of an element
index_of_grape = fruits.index("orange")
print(index_of_grape)

2

In [61]:
# Checking existence of an element
exists = "apple" in fruits
print(exists)

exists = "lichi" in fruits
print(exists)

False
True

In [62]:
# Getting the length of the list
length = len(fruits)
print(length)

4

In [63]:
# Sorting a list
fruits = ["lichi", "orange", "papaya", "red beans"]
fruits.sort()
print(fruits)

['lichi', 'orange', 'papaya', 'red beans']

In [64]:
# Reversing a list
fruits.reverse()
print(fruits)

['red beans', 'papaya', 'orange', 'lichi']

In [65]:
# List comprehension
numbers = [1 , 2 , 4 , 6 ,8]
squared_numbers = [n ** 2 for n in numbers]
print(squared_numbers)

[1, 4, 16, 36, 64]

In [66]:
# Extending a list
more_fruits = ["dragonfruit", "grape"]
fruits.extend(more_fruits)
print(fruits)

['red beans', 'papaya', 'orange', 'lichi', 'dragonfruit', 'grape']

In [67]:
# List with different data types in nested lists
mixed_nested_list = [[1, "papaya", 3.14], [True, "dragonfruit", None], [False, 42, "meow"]]

# Accessing elements
print(mixed_nested_list[0])
print(mixed_nested_list[1][1])
print(mixed_nested_list[2][2])

# Modifying an element in the nested list
mixed_nested_list[2][0] = True
print(mixed_nested_list)

[1, 'papaya', 3.14]
dragonfruit
meow
[[1, 'papaya', 3.14], [True, 'dragonfruit', None], [True, 42, 'meow']]

Lists also support operations like concatenation

In [71]:
# Two lists to concatenate
list1 = [2, 4, 7]
list2 = [6, 3, 9]

# Concatenating the lists
result = list1 + list2
print(result)  # Output: [1, 2, 3, 4, 5, 6]

[2, 4, 7, 6, 3, 9]

**Dictionary**
<p style="text-align: justify">Dictionaries are sometimes found in other languages as “associative memories” or “associative arrays”. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys.</p>

<p style="text-align: justify">It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.</p>

In [72]:
# Using curly braces
person = {"name": "Tasnim", "age": 22, "city": "Chatttogram"}

# Using dict() constructor
person2 = dict(name="Doe", age=30, city="UK")

print(person)

{'name': 'Tasnim', 'age': 22, 'city': 'Chatttogram'}

In [73]:
# Accessing a value using a key
print(person["name"])
print(person2["age"])

# Using get() method (safe way to access values)
print(person.get("city"))
print(person.get("country", "Not found"))

Tasnim
30
Chatttogram
Not found

In [74]:
# Adding a new key-value pair
person["country"] = "USA"
print(person)

# Updating an existing key-value pair
person["age"] = 26
print(person)

{'name': 'Tasnim', 'age': 22, 'city': 'Chatttogram', 'country': 'USA'}
{'name': 'Tasnim', 'age': 26, 'city': 'Chatttogram', 'country': 'USA'}

In [75]:
# Using del to remove a key-value pair
del person["city"]
print(person)

# Using pop() to remove a key-value pair and get the value
age = person.pop("age")
print(person)
print(age)

# Using popitem() to remove and return the last key-value pair
last_item = person.popitem()
print(person)
print(last_item)

{'name': 'Tasnim', 'age': 26, 'country': 'USA'}
{'name': 'Tasnim', 'country': 'USA'}
26
{'name': 'Tasnim'}
('country', 'USA')

In [76]:
# Checking if a key exists
print("name" in person)
print("age" in person)

True
False

In [77]:
# Iterating over keys
for key in person:
    print(key)

# Iterating over valuessta
for value in person.values():
    print(value)

# Iterating over key-value pairs
for key, value in person.items():
    print(key, value)

name
Tasnim
name Tasnim

**Tuples and Sets**
<br>Use the content from [here](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences) to follow some examples on tuple and set.

In [ ]:
# code from here

<b> Exercise 1:</b> Implement stack using list
<p><b>Hints:</b> The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved (“last-in, first-out”). To add an item to the top of the stack, use append(). To retrieve an item from the top of the stack, use pop() without an explicit index</p>

In [ ]:
#CODE
stack = []

# Push items onto the stack
stack.append("Guava")
stack.append("Lichi")
stack.append("Watermelon")

print(stack.pop())  # Output: cherry

print(stack[-1])  # Output: banana

print(len(stack) == 0)  # Output: False

Watermelon
Lichi
False

<b> Exercise 2:</b> Implement queue using list
<p><b>Hints:</b> It is also possible to use a list as a queue, where the first element added is the first element retrieved (“first-in, first-out”)</p>

In [ ]:
#CODE
queue = []

queue.append("Guava")
queue.append("Lichi")
queue.append("Watermelon")

print(queue.pop(0))

print(queue[0])

print(len(queue) == 0)

Guava
Lichi
False

<b> Exercise 3:</b> Define a dictionary to store the details of 3 persons. Also, print some data from the dictionary.
 <p><b>Hint:</b> You may require nesting dictionary, lists, string inside the dictionary.</p>

In [ ]:
#CODE
# Dictionary to store person details
persons = {
    "Person1": {"name": "Guava", "age": 21, "city": "Dhaka"},
    "Person2": {"name": "Lichi", "age": 22, "city": "Chittagong"},
    "Person3": {"name": "Watermelon", "age": 23, "city": "Mymensingh"}
}

print(persons["Person1"]["name"])
print(persons["Person2"]["city"])
print(persons["Person3"]["age"])

# You may add more examples by yourself below

In [ ]:
#CODE